

<header>

  <div class="container cust d-flex gap-4" >
    <a routerLink="/Home">Home</a>
    <span *ngIf="showAllProduct">     <a routerLink="/AllProducts">View Products</a>      </span>
<span *ngIf="showAddProduct">     <a routerLink="/AddProducts">Add Products</a>  </span>

    <a routerLink="/ShowLoginPage">Sign In</a>

    <span *ngIf="showLogout"> <button class="btn btn-primary" (click)="logout()">logout</button> </span>

    
    </div>

</header>




<!-- <hr color="green" size="5"> -->
<router-outlet></router-outlet>